Flask==2.0.1
flask_admin
flask_bootstrap
flask_mail
flask_moment
flask_login
flask_migrate
flask_wtf
WTForms==2.2.1
flask_sqlalchemy
flask-marshmallow==0.10.1
marshmallow==3.3.0
PyMySQL
pyyaml
Flask-SQLAlchemy
flask-restful
requests
pillow
elasticsearch==7.13.3
redis
rq
pyjwt
cryptography
prometheus-flask-exporter
flask_httpauth
gunicorn
